* {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --primary-color: rgb(4, 121, 231);
    --dark-primary-color: rgb(2, 106, 202);
    --main-color: lightgray;
    --section-color: white;
    --secondary-text-color: white;
    --primary-text-color: black;
    --softwhite: #f6f4f4;
    --blue-link-color: #0057a9;
    --label-color: #646464;
}

header,
body>footer {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    grid-column: span 2;

}

header {
    position: relative;
}

#theme-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    border: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    padding: 0.5rem;
}

#theme-button:active {
    transform: scale(1.06) translateY(-50%);
    transform-origin: top;
}

#theme-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.theme-icon {
    height: 2rem;
    width: 2rem;
}

body {
    display: grid;
    grid-template-columns: minmax(10rem, 14rem) 7fr;
    /* grid-auto-rows: 1vh minmax(20fr, auto) 0.5fr; */
    color: var(--primary-text-color);
    margin: 0;
    transition: 0.4s;

}

main {
    background-color: var(--main-color);
    padding: 20px;
    min-height: 81.87vh;

}


#search-section {
    border-right: 0.05rem solid rgba(0, 0, 0, 0.294);
    display: flex;
    background-color: var(--section-color);
    flex-direction: column;
}


#filter-and-status-wrapper {
    position: sticky;
    top: 0;
    padding-top: 0;
}

#filter-and-status-wrapper>footer {
    font-size: 0.8rem;
}

#filter-and-status-wrapper>* {
    margin: 1rem;
    width: 80%;
}


label {
    font-size: 0.8rem;
    color: var(--label-color);
    margin: 0;
}

#filter-and-status-wrapper>select {
    margin-top: 0rem;
    height: 1.2rem;
    background-color: var(--section-color);
    color: var(--primary-text-color);
    border: 1px solid rgb(53, 53, 53);
    border-radius: 0.2rem;
}

#clear-count-box {
    display: flex;
    justify-content: space-around;
    margin-top: 0rem;
    align-items: center;
}

#clear {
    background-color: var(--softwhite);
    border: 1px solid black;
    border-radius: 0.2rem;
    color: var(--primary-text-color);
}


#clear:active {
    box-shadow: 0 1px black;
    background-color: var(--section-color);
}

#filter-button {
    line-height: 2rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0;
    margin-top: 0.25rem;
    color: var(--secondary-text-color);
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

#filter-button:active {
    transition: 0.3s;
    background-color: var(--dark-primary-color);
    box-shadow: 0 1px #666;
}

#search-input {
    line-height: 1.5rem;
    margin-top: 0rem;
    border-radius: 0.2rem;
    background-color: var(--section-color);
    color: var(--primary-text-color);
    border: 1px solid rgb(53, 53, 53);

}

.hide {
    display: none !important;
}



.circle-overlay {
    /* background-color: pink; */
    background-color: var(--softwhite);
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    margin-bottom: -1.75rem;
    padding: 0;
    border-radius: 3rem;
}

.circle-key {
    width: 1rem;
    height: 1rem;
    border-radius: 3rem;

}

#status-table {
    display: grid;
    grid-template-columns: 2rem auto;
    row-gap: 0.8rem;
}

.circle-status {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 3rem;
}


.bird-main-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
}

.overlay-container {
    position: relative;
    height: 100%;
}

.bird-img-text {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    color: var(--secondary-text-color);
    text-shadow: 0px 0px 10px black;
}

.overlay-name {
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.overlay-credit {
    padding-top: 0.2rem;
    margin: 0;
}


dl {
    padding: 1rem;
    padding-top: 0rem;
}

dd,
dt {
    float: left;
    padding: 0;
    margin: 0;
}

dt {
    width: 45%;
}

dd {
    width: 55%;
}



.birdArticle a {
    color: var(--blue-link-color);
    cursor: pointer;
}





.birdArticle {
    background-color: var(--softwhite);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px black;

}

.article-header {
    padding-left: 1rem;
    margin-bottom: 0;
}



#bird-content-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
    gap: 2rem;
    padding-top: 0.5rem;


}